@using GIR.Sigim.Application.Constantes
<ul style="">
    <li>
        <a href="@Url.Content("~/OrdemCompra")" title="Painel"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Home</span></a>
    </li>
</ul>

@Html.MvcSiteMap().Menu(Html.MvcSiteMap().SiteMap.FindSiteMapNode(Url.Action("Index", "Home", new { area = "OrdemCompra" })), true, false)