<ul style="">
    <li>
        <a href="@Url.Content("~/Contrato/Home")" title="Painel"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Home</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Medição e Liberação</span></a>
        <ul>
            <li>
                @Html.ActionLink("Medição","Index","MedicaoContrato")
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Relatórios</span></a>
        <ul>
            <li>
                @Html.ActionLink("Notas fiscais liberadas","Index","RelNotaFiscalLiberada")
            </li>
        </ul>
    </li>

</ul>