@{
    ViewBag.Title = "Painel";
}
<h3>Painel</h3>
<ul>
    <li>
        @Html.ActionLink("Ordem de Compra", "Index", "Home", new { area = "OrdemCompra" }, htmlAttributes: new { @class = "username", title = "Ordem de Compra" })
    </li>
    <li>
        @Html.ActionLink("Financeiro", "Index", "Home", new { area = "Financeiro" }, htmlAttributes: new { @class = "username", title = "Financeiro" })
    </li>
</ul>