@model IEnumerable<GIR.Sigim.Application.DTO.Sigim.TreeNodeDTO>

<ul>
    <li>
        <span><i class="fa fa-lg fa-minus-circle"></i> @ViewBag.FirstNode</span>
        <ul>
            @foreach (var item in Model)
            {
                @Html.Partial("TreeNode", item)
            }
        </ul>
    </li>
</ul>