<ul style="">
    <li>
        <a href="@Url.Content("~/Sigim/Home")" title="Painel"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Home</span></a>
    </li>
    <li>
        <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i><span class="menu-item-parent">Cadastro</span></a>
        <ul>
            <li>
                @Html.ActionLink("Unidade de medida", "Index", "UnidadeMedida")
            </li>
        </ul>
    </li>
 <li>
</ul>