@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul>
    @foreach (var node in Model.Nodes) {
        <li>@Html.DisplayFor(m => node, "MenuNode")
            @if (node.Children.Any()) {
                @Html.DisplayFor(m => node.Children, "MenuNodeList")
            }
        </li>
    }
</ul>